$colors: (
        primary: #005DFF,
        accent: #FFF6BB,
        tertiary: grey,
);

table{
  tr{
    @extend %font-small
  }
}

#hobbies-paragraph{
  color: map-get($colors, grey);
}

#heading-home{
  text-align: center;
  font-size: 35px;
}
.padding-class{
  padding-top: 30px;
}

.title-of-page{
  font-size: 50px;
}

%font-small{
  font-size: 20px;
}
@media screen and (min-width: 540px){
  .image-home{
    margin-top: 30px;
  }
}

@media screen and (max-width: 540px) {
  .image-home {
    padding-left: 0;
    padding-right: 0;
  }
}
