main {
    background-color: yellow;
}
#heading-home{
    text-align: center;
    font-size: 20px;
}

@media screen and (min-width: 3000px){
    .image-home{
        margin-top: 30px;
    }
}

@media screen and (max-width: 300px){
    .image-home{
        padding-left: 0;
        padding-right: 0;
    }
